In [1]:
import pandas as pd
import numpy as np

## Courser courses

In [3]:
df = pd.read_csv('Dataset_original/Coursera_courses.csv')#carga de datos
df.head()#vista inicial

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being
3,Technical Support Fundamentals,Google,https://www.coursera.org/learn/technical-suppo...,technical-support-fundamentals
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing,https://www.coursera.org/learn/google-cbrs-cpi...,google-cbrs-cpi-training

### chequeo de nulos

In [3]:
df = df.apply(lambda s : s.str.strip()) #se eliminan los espacios al principio y final
df.mask(df == '', inplace=True) #se reemplazan  strings vacias por nan

#se muestra la informacion, y se verifica que la cantidad de filas corresponde con las de non-null en
#todas las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

### chequeo de duplicados

In [4]:
df.duplicated().any()#chequeo de duplicados

False

### Eliminacion de columnas
Se tomo la decicion de eliminar la columna de course_url, por considerar que no aporta informacion relevante para el analisis

In [5]:
df.drop(columns=['course_url'], inplace=True)

### Se guarda la data modificada

In [6]:
df.to_csv('Dataset/Coursera_courses.csv', sep=';', index=False)

---

## Coursera reviews

In [2]:
df = pd.read_csv('Dataset_original/Coursera_reviews.csv')#carga de datos
df.head()#vista inicial

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training
2,Information was perfect! The program itself wa...,By Jacob D,"Apr 08, 2020",4,google-cbrs-cpi-training
3,A few grammatical mistakes on test made me do ...,By Dale B,"Feb 24, 2020",4,google-cbrs-cpi-training
4,Excellent course and the training provided was...,By Sean G,"Jun 18, 2020",4,google-cbrs-cpi-training

### chequeo de nulos

In [3]:
df = df.apply(lambda s : s.str.strip() if isinstance(s, str) else s) #se eliminan los espacios al principio y final
df.mask(df == '', inplace=True) #se reemplazan  strings vacias por nan

#se muestra la informacion, y se verifica que la cantidad de filas corresponde con las de non-null
#en todas las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

Como se puede ver en el output del bloque anterior, hay nulos en la columna 'reviews', asi que se decidio remplazar estos nulos por el texto \<Na\>

In [4]:
df.fillna('<Na>', inplace=True)

### chequeo de duplicados

In [5]:
df.duplicated().any()#chequeo de duplicados

True

In [6]:
#se muestra cuantos duplicados hay
df.duplicated().to_list().count(True)

934764

Se tomo la decicion de eliminar los registros duplicados para que no distorcionen el analisis

In [7]:
df.drop_duplicates(inplace=True)

### Columnas modificadas
Se modifican las fechas de la columna date_reviews para cambiarles el formato

In [8]:
df["date_reviews"] = pd.to_datetime(df["date_reviews"], format='%b %d, %Y')

### Se guarda la data modificada

In [10]:
df.to_csv('Dataset/Coursera_reviews.csv', sep=';', index=False)

---

## edX courses

In [2]:
df = pd.read_csv('Dataset_original/edx_courses.csv')#carga de datos
df.head()#vista inicial

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2–3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2–4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,An introduction to the intellectual enterprise...,"2,442,271",Self-paced on your time,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Introductory,Computer Science,English,English,6–18 hours per week,12 Weeks,FREE-Add a Verified Certificate for $90 USD,"This is CS50x , Harvard University's introduct...",NaN,https://www.edx.org/course/cs50s-introduction-...
3,The Analytics Edge,"Through inspiring examples and stories, discov...","129,555",Instructor-led on a course schedule,Massachusetts Institute of Technology,Dimitris Bertsimas-Allison O'Hair-John Silberh...,Intermediate,Data Analysis & Statistics,English,English,10–15 hours per week,13 Weeks,FREE-Add a Verified Certificate for $199 USD,"In the last decade, the amount of data availab...",NaN,https://www.edx.org/course/the-analytics-edge
4,Marketing Analytics: Marketing Measurement Str...,This course is part of a MicroMasters® Program,"81,140",Self-paced on your time,"University of California, Berkeley",Stephan Sorger,Introductory,Computer Science,English,English,5–7 hours per week,4 Weeks,FREE-Add a Verified Certificate for $249 USD,Begin your journey in a new career in marketin...,NaN,https://www.edx.org/course/marketing-analytics...

### chequeo de nulos

In [3]:
df = df.apply(lambda s : s.str.strip() if isinstance(s, str) else s) #se eliminan los espacios al principio y final
df.mask(df == '', inplace=True) #se reemplazan  strings vacias por nan

#se muestra la informacion, y se verifica que la cantidad de filas corresponde con las de non-null
#en todas las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               975 non-null    object
 1   summary             922 non-null    object
 2   n_enrolled          855 non-null    object
 3   course_type         975 non-null    object
 4   institution         975 non-null    object
 5   instructors         972 non-null    object
 6   Level               975 non-null    object
 7   subject             975 non-null    object
 8   language            975 non-null    object
 9   subtitles           972 non-null    object
 10  course_effort       975 non-null    object
 11  course_length       975 non-null    object
 12  price               975 non-null    object
 13  course_description  935 non-null    object
 14  course_syllabus     417 non-null    object
 15  course_url          975 non-null    object
dtypes: object(16)
memory usage: 122.0+ KB

En las columnas summary, instructors, subtitles, course_description, course_syllabus se decidio remplazar los nulos por el texto \<Na\>

In [4]:
df[['summary', 'instructors', 'subtitles', 'course_description', 'course_syllabus']] = df[['summary', 'instructors', 'subtitles', 'course_description', 'course_syllabus']].fillna('<Na>')

### Columnas modificadas

La columna n_enrolled se transforma a numerica

In [5]:
df['n_enrolled'] = df['n_enrolled'].apply(lambda s: s.replace(',', '') if isinstance(s, str) else s)
df['n_enrolled'] = df['n_enrolled'].astype('Int64')

se agrega una nueva columna numerica certificate_prices, para trabajar mejor con los precios de los certificdos

In [6]:
#se crea una funcion para separar el valor del certificado
def certificate_price (s: str) -> float :
    s = s.split()#se separa el texto
    price = s[len(s)-2]#se guarda el penultimo de la lista, que es $x, donde x es el valor
    price = price[1:]#se toma el valor sin el signo $
    price = float(price)#se transforma a float
    return price

In [7]:
#se usa la funcion creada para transformar los datos de 'price' y se guardan en la nueva columna
df['certificate_prices'] = df['price'].apply(lambda s: certificate_price(s))

la columna course_length renombra  a course_weeks ya que todos los datos estan en semanas, y se cambian los datos para dejar solo el numero

In [8]:
df['course_length'] = df['course_length'].apply(lambda s: s.split()[0])
df['course_length'] = df['course_length'].astype('Int64')
df.rename(columns={"course_length": "course_weeks"}, inplace=True)

### chequeo de duplicados

In [9]:
df.duplicated().any()#chequeo de duplicados

True

In [10]:
#se muestra cuantos duplicados hay
df.duplicated().to_list().count(True)

1

Se toma la decicion de eliminar los registros duplicados para que no distorcionen el analisis

In [11]:
df.drop_duplicates(inplace=True)

### Eliminacion de columnas
Se tomo la decicion de eliminar la columna de course_url, por considerar que no aporta informacion relevante para el analisis

In [12]:
df.drop(columns=['course_url'], inplace=True)

### Se guarda la data modificada

In [13]:
df.to_csv('Dataset/edx_courses.csv', sep=';', index=False)

---

## Udemy_courses

In [2]:
df = pd.read_csv('Dataset_original/udemy_courses.csv')#carga de datos
df.head()#vista inicial

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

### chequeo de nulos

In [3]:
df = df.apply(lambda s : s.str.strip() if isinstance(s, str) else s) #se eliminan los espacios al principio y final
df.mask(df == '', inplace=True) #se reemplazan  strings vacias por nan

#se muestra la informacion, y se verifica que la cantidad de filas corresponde con las de non-null
#en todas las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

### chequeo de duplicados

In [4]:
df.duplicated().any()#chequeo de duplicados

True

In [5]:
#se muestra cuantos duplicados hay
df.duplicated().to_list().count(True)

6

Se toma la decicion de eliminar los registros duplicados para que no distorcionen el analisis

In [6]:
df.drop_duplicates(inplace=True)

### Columnas modificadas
Se modifican las fechas de la columna published_timestamp para cambiarles el formato, y se renombra a published_date

In [7]:
df['published_timestamp'] = df['published_timestamp'].apply(lambda d: d[:10])
df.rename(columns={"published_timestamp": "published_date"}, inplace=True)

### Eliminacion de columnas
Se tomo la decicion de eliminar la columna de url, por considerar que no aporta informacion relevante para el analisis

In [8]:
df.drop(columns=['url'], inplace=True)

In [9]:
df.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_date,subject
0,1070968,Ultimate Investment Banking Course,True,200,2147,23,51,All Levels,1.5,2017-01-18,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,True,75,2792,923,274,All Levels,39.0,2017-03-09,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,True,95,2451,11,36,All Levels,3.0,2017-05-30,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13,Business Finance

### Se guarda la data modificada

In [10]:
df.to_csv('Dataset/udemy_courses.csv', sep=';', index=False)